.container {
    background-image: url('/src/assets/img/Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--whiteRO);
}

.container h1 {
    margin-bottom: .5em;
    font-size: 2.5em;
    font-family: GothamMedium;
}

.container p {
    font-size: 1.5em;
    word-spacing: 5px;
}

.row h1 {
    color: var(--redRO);
}

.prancheta {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: rotate(40deg);
    width: 100%; /* 100% da largura da tela */
    height: 100%;
    background-image: url("../../assets/img/Prancheta.png");
    background-size: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}