.btn {
    background-color: var(--redRO);
    color: var(--whiteRO);
    padding: 0.7em 1.2em;
    width:fit-content;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 100px;
    border: none;
}

.btn:hover {
    background-color: var(--redRO);
}