:root {
  --whiteRO: #EFEFF0;
  --blackRO: #0C0C0C;
  --grayRO: #404040;
  --redRO: #C60026;
  --lightRedRO: #F00026;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: GothamBook;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  background-color: var(--blackRO);
  height: 100%;
}

.btn-redRO {
  background-color: var(--redRO);
  color: var(--whiteRO);
}

.btn-redRO:hover {
  background-color: var(--lightRedRO);
  color: var(--whiteRO);
}

.navbar-whiteRO {
  background-color: var(--whiteRO);
  color: var(--blackRO);
}

.nav-link-whiteRO {
  background-color: var(--whiteRO);
  color: var(--blackRO);
}

  @font-face {
  font-family: "GothamBlack";
  src: local("GothamBlack"),
    url(./assets/fonts/Gotham/GothamBlack.otf) format("opentype");
    }
  @font-face {
    font-family: "GothamBoldItalic";
  src: local("GothamBoldItalic"),
    url(./assets/fonts/Gotham/GothamBoldItalic.ttf) format("truetype");
    }
  @font-face {
    font-family: "GothamBook";
  src: local("GothamBook"),
    url(./assets/fonts/Gotham/GothamBook.ttf) format("truetype");
    }
  @font-face {
    font-family: "GothamExLight";
  src: local("GothamExLight"),
    url(./assets/fonts/Gotham/GothamExLight.otf) format("opentype");
    }
  @font-face {
    font-family: "GothamLight";
  src: local("GothamLight"),
    url(./assets/fonts/Gotham/GothamLight.otf) format("opentype");
    }
  @font-face {
    font-family: "GothamLightItalic";
  src: local("GothamLightItalic"),
    url(./assets/fonts/Gotham/GothamLightItalic.ttf) format("truetype");
    }
  @font-face {
    font-family: "GothamMedium";
  src: local("GothamMedium"),
    url(./assets/fonts/Gotham/GothamMedium.ttf) format("truetype");
    }